<!-- bundle/minify etc the scripts -->
{{ $js1 := resources.Get "js/fiddle.js" }}
{{ $js2 := resources.Get "js/browserwarning.js" }}
{{ $js3 := resources.Get "js/cookie-consent.js" }}
{{ $js4 := resources.Get "js/filter-cards.js" }}
{{ $js := slice $js1 $js2 $js3 $js4 | resources.Concat "js/scripts.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

<!-- footer -->
<footer class="mt-auto py-3">
  <div class="container">
    {{ if not .IsHome }}
    <p class="float-right"><a href="{{ .Site.Params.codeRepo }}/{{ .Site.Params.pageEditPath }}/{{ replace .File.Path "\\" "/" }}" target="_blank" rel="noopener">
      <svg class="mr-1" id="i-compose" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="15" height="15" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z"></path>
      </svg>Edit this page</a> 
    </p>
    {{ end }}
    <p>&copy; GreenTechDev 2020<br />
      Website/documentation provided as <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a><br />
      Code examples provided as <a href="{{ .Site.Params.codeRepo }}/blob/master/LICENSE" target="_blank">MIT</a><br />
      Our <a href="{{ ref . "/cookie-policy.md" }}">Cookie policy</a><br />
    </p>
  </div>
</footer>
