<!-- bundle/minify etc the scripts -->
{{ $js1 := resources.Get "js/fiddle.js" }}
{{ $js2 := resources.Get "js/browserwarning.js" }}
{{ $js3 := resources.Get "js/cookie-consent.js" }}
{{ $js4 := resources.Get "js/filter-cards.js" }}
{{ $js := slice $js1 $js2 $js3 $js4 | resources.Concat "js/scripts.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

<!-- footer -->
<footer class="mt-auto">
  <img id="footer-background" src="/landscape.svg" />
  <div class="container">
    <div class="row">
      <div class="col-sm">
        &copy; GreenTechDev 2020<br />
        Website/docs provided as <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a><br />
        Code examples provided as <a href="{{ .Site.Params.codeRepo }}/blob/master/LICENSE" target="_blank">MIT</a><br />
        Our <a href="{{ ref . "/cookie-policy.md" }}">Cookie policy</a><br />
        Last updated {{ .Lastmod.Format "2006-01-02" }}

      </div>
      <div class="col-sm">
        <p class="float-md-right">
        {{ if not .IsHome }}
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
          <a href="{{ .Site.Params.codeRepo }}/{{ .Site.Params.pageEditPath }}/{{ replace .File.Path "\\" "/" }}" target="_blank" rel="noopener nofollow">
          Improve this page</a><br /> 
        {{ end }}
        {{ if (or (eq .Type "data") (.IsHome)) }}
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>
          <a href="{{ .Permalink}}index.json"> This page in JSON</a>
        {{ end }}
          </p>
      </div>
    </div>
  </div>
</footer>
