<head>
	<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} - Greentechdev{{ end }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{if .Description}}{{ .Description }}{{else}}{{ $.Site.Params.description }}{{end}}" />
	<meta name="author" content="{{ $.Site.Params.author }}">
	<meta name="google-site-verification" content="_dNrCpwbbUKPlmjWSemzQO-s2usN0DXGTtE-6V5omYc" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- minify css -->
	{{ $style := resources.Get "css/theme.css" | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>