<div class="shortcode shortcode--jsfiddle shortcode--code">
	<iframe
		height='{{ with .Get "height" }}{{.}}{{else}}300{{end}}'	
		src='//jsfiddle.net/greentechdev/{{ .Get "id" }}{{ with .Get "rev" }}/{{.}}{{end}}/embedded/{{ with .Get "view"}}{{ . }}{{else}}result,js,html,css{{end}}/{{with .Get "color"}}{{.}}{{end}}'
		title='Embedded JS Fiddle'
		allowfullscreen="allowfullscreen">
	</iframe>
</div>

<!--
	<script async src="//jsfiddle.net/{{ .Get "id" }}/{{ .Get "rev" }}/embed/result/"></script>
-->
