<div style="text-align: center;"><pre style="background-color: white;color: green">
  ________                          ___________           .__    ________               
 /  _____/______   ____   ____   ___\__    ___/___   ____ |  |__ \______ \   _______  __
/   \  __\_  __ \_/ __ \_/ __ \ /    \|    |_/ __ \_/ ___\|  |  \ |    |  \_/ __ \  \/ /
\    \_\  \  | \/\  ___/\  ___/|   |  \    |\  ___/\  \___|   Y  \|    `   \  ___/\   /
 \______  /__|    \___   \___   ___|  /____| \___   \___   ___|  /_______  /\___   \_/</pre>
 <span style="font-style:italic; color: gray; font-size: 1.3rem;">Generating traction around environmental data</span>
 <div style="clear:both"></div>
</div>